[Desktop Entry]
Categories=Development;Utility;
Comment=ZeroAny Workbench — Zero, one, any workspace
Exec={{exec}} %u
StartupWMClass={{exec}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
MimeType=x-scheme-handler/zeroany-workbench
